.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  margin: 0 auto;
  width: 100%;
  max-width: 480px;
  height: 58px;

  background: #000;
  border-top: 1px solid #222;
  z-index: 9999;
}

.nav-inner {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.nav-item img {
  width: 30px;
  height: 30px;
  display: block;
}