.nav {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 480px;
  height: 65px;
  background: #000;
  border-top: 1px solid #222;
  z-index: 999;
}

.nav-inner {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-8px);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* 아이콘 크기만 관리 */
.nav-item img {
  width: 30px;
  height: 30px;
  display: block;
}